{% extends "base.html" %}{% block bird_detail %}
{% load static %}
{% load crispy_forms_tags %}


<body>
    <!-- index.html content starts here -->
    <div class="container-fluid">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <h3>Bird Data</h3>

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <div>
                                        <p>{{ bird_detail.bird_name}}</p>
                                        <p>{{bird_detail.type }}</p>
                                        <p>{{bird_detail.get_sex_display }}</p>
                                        <p>{{bird_detail.date_of_birth }}</p>
                                        <p>{{bird_detail.additional_info }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'daily_data_form'  bird_detail.bird_name %}" class="post-link">
                        <h2 class="card-title">Add daily data for {{ bird_detail.bird_name}}</h2>
                    </a>


                    {% for data in selected_bird %}
                    <div>
                        <p>Date: {{data.date}}</p>
                    </div>
                    <div>
                        <p>Trainer: {{data.trainer}}</p>
                    </div>
                    <div>
                        <p>Weight: {{data.weight}}grams</p>
                    </div>
                    <div>
                        <p>Type of Food: {{data.food_type}}</p>
                    </div>
                    <div>
                        <p>Weight of Food: {{data.food_weight}}grams</p>
                    </div>
                    <div>
                        <p>Weather: {{data.get_weather_display}}</p>
                    </div>
                    <div>
                        <p>Temperature: {{data.temperature}}&degC</p>
                    </div>
                    <div>
                        <p>Type of training: {{data.get_training_display}}</p>
                    </div>
                    <div>
                        <p>Behaviour/Mood: {{data.get_behaviour_display}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</body>
{% endblock bird_detail %}