{% extends "base.html" %}{% block bird_detail %} {% load static %} {% load crispy_forms_tags %}
<head>
  <link
    href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/styles/index.css"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/index.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<!-- bird detail.html content starts here -->
<div class="container-fluid main-item">
  <div class="row">
    <!-- Bird detail starts here -->
    <h3 class="heading-bird-data display-4">Bird Data</h3>
    <hr class="divider" />
    <div class="col-md-4">
      <div class="image-container">
        {% if "placeholder" in bird_detail.main_image.url %}
        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image" />
        {% else %}
        <img
          class="card-img-top"
          src=" {{ bird_detail.main_image.url }}"
          alt="{{ bird_detail.bird_name }}"
        />
        {% endif %}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <div>
            <p class="lead"><b>Bird Name:</b> {{ bird_detail.bird_name }}</p>
          </div>
          <p class="lead"><b>Type: </b>{{bird_detail.type }}</p>
          <p class="lead"><b>Gender: </b>{{bird_detail.get_sex_display }}</p>
          <p class="lead"><b>Date of Birth:</b> {{bird_detail.date_of_birth}}</p>
          {% if bird_detail.target_weight > 0  %}
          <p class="lead"><b>Target Weight:</b> {{bird_detail.target_weight}}g</p>
          {% else %}
          <p class="lead"><b>Target Weight:</b> None given</p>
          {% endif %}
          <p class="lead"><b>Additional Info: </b>{{bird_detail.additional_info }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 button-card">
      <ul>
        <li class="li-style d-grid">
          <a class="btn btn-secondary btn-block" aria-current="page" href="{% url 'home' %}"
            >Back to Bird List</a
          >
        </li>
        {% if user.is_superuser or user.is_staff %}
        <li class="li-style d-grid">
          <a class="btn btn-signup" aria-current="page" href="{% url 'bird_edit' bird_detail.id %}"
            >Edit Bird Data</a
          >
        </li>
        <!-- <li class="li-style d-grid">
          <button class="btn btn-delete btn-block" data-bird-id="{{ selected_bird.id }}">
            Delete Bird
          </button>
        </li> -->
      </ul>
    </div>
    {% endif %}
  </div>
  <hr class="divider" />
 <!-- Serialize the selected_bird data into a JSON script -->
 {{ selected_bird_json|json_script:"selected_bird_data" }}
  <div class="container-fluid">
    <div class="row">
      <!--The Calendar injected here -->
      <div class="col-md-6" id="calendar" data-bird="{{ selected_bird|safe }}">
      </div>
      <div class="col-md-6 chart-container">
        <div class="btn-chart">
          <button id="dateBack" type="button" class="btn btn-secondary">Back</button>
          <button id="dateForward" type="button" class="btn btn-secondary">Forward</button>
          {% if bird_detail.target_weight > 0  %}
          <button id="birdWeightChart" type="button" class="btn btn-secondary"><b>Target Weight: {{bird_detail.target_weight}}g</b></button>
          {% endif %}
          <!-- <button id="birdWeightChart" type="button" class="btn btn-secondary">Bird Weight</button> -->
          <!-- <button id="birdMotivationChart" type="button" class="btn btn-secondary">Motivation</button> -->
        </div>
        <!-- chart injected here-->
        <canvas id="myChart" width="1000px"></canvas>
      </div>
      <!-- <div class="col-md-6 chart-container">
      <canvas id="motivationChart" width="1000px"></canvas> 
      </div> -->
    </div>
  </div>
  <!-- calendar pop up modal -->
  <div
    class="modal fade"
    id="calendarModal"
    tabindex="-1"
    aria-labelledby="calendarModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="calendarModalLabel">{{bird_detail.bird_name}}</h5>
          <span class="modal-title calendarTagetWeight"><b>Target Weight:</b> {{ bird_detail.target_weight}} grams</span>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" id="calendarModalBody">
          <!-- Content will be dynamically populated -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% if user.is_superuser or user.is_staff %}
<div class="daily-button">
  <div class="d-grid">
    <a id="addDailyDataButton"
      href="{% url 'daily_data_form'  bird_detail.id %}"
      class="btn btn-custom-color-action3 btn-lg col-8 mx-auto"
      >Add Daily Data for: <br />
      <b>{{bird_detail.bird_name}}</b>
    </a>
  </div>
</div>
{% else %}
<div class="daily-button">
  <div class="d-grid">
    <p class="btn btn-custom-color btn-lg col-8 mx-auto">
      Daily Data for: <br />
      <b>{{bird_detail.bird_name}}</b>
    </p>
  </div>
</div>
{% endif %}

<div class="flex-wrapper">
  <div class="accordion" id="daily_data">
    {% for data in selected_bird %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse{{ forloop.counter }}"
          aria-expanded="true"
          aria-controls="collapse{{ forloop.counter }}"
        >
          <span class="span-font">Date: {{ data.date }} Trainer: {{ data.trainer }}</span>
          <span class="weight-heading">Weight: <span class="span-data">{{ data.weight}}g</span> </span>
          <span class="span-font"
            >Food Weight:<span class="span-data">{{ data.food_weight }}g</span>
          </span>
        </button>
      </h2>
    </div>
    <div
      id="collapse{{ forloop.counter }}"
      class="accordion-collapse collapse"
      data-bs-parent="#daily_data"
    >
      <div class="accordion-body">
        <div class="accordion-text col-md-4">
          {% if user.is_superuser or user.is_staff %}
          <!-- <li class="li-style d-grid">
            <a class="btn btn-signup" aria-current="page" href="{% url 'daily_data_edit'  data.id %}"
              >Edit Daily Data</a
            >
          </li> -->
          
        </ul>
      </div>
      {% endif %}
          <div>
            <p><b>Bird Weight: </b>{{ data.weight }} grams</p>
          </div>
            {% if bird_detail.target_weight > 0 %}
            <div>
            <p><b>Target Weight: </b>{{ bird_detail.target_weight }} grams</p>
          </div>
          {% else %}
          <div>
          <p><b>Target Weight: </b>None Given</p>
          </div>
          {% endif %}
          <div>
            <p><b>Type of Food: </b>{{ data.food_type }}</p>
          </div>
          <div>
            <p><b>Weight of Food: </b>{{ data.food_weight }} grams</p>
          </div>
          <div>
            <p><b>Time of feeding: </b>{{ data.food_time }}</p>
          </div>
          <div>
            <p><b>Weather: </b>{{ data.get_weather_display }}</p>
          </div>
          <div>
            <p><b>Temperature: </b>{{ data.temperature }}°C</p>
          </div>
          <div>
            <p><b>Type of training:</b> {{ data.get_training_display }}</p>
          </div>
          <div>
            <p><b>Motivation during Training:</b> {{ data.training_motivation }}</p>
          </div>
          <div>
            <p><b>Time of training:</b> {{ data.training_time }}</p>
          </div>
          <div>
            <p><b>Behaviour/Mood: </b>{{ data.get_behaviour_display }}</p>
          </div>
          <div>
            <p><b>Notable Info:</b> {{ data.notable_info }}</p>
          </div>
          <div class="col-md-3">
            <div class="image-container">
              {% if "placeholder" in data.notable_image.url %}
              <span></span>
              {% else %}
              <img
                class="card-img-top"
                src="{{ data.notable_image.url }}"
                alt="{{ bird.bird_name }}"
              />
            
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
  <!-- Delete confirmation modal -->
  <div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Bird?</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the Bird? This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div id="bird-info" data-target-weight="{{ bird_detail.target_weight|default:'' }}">
   
</div>
</div>

{% endblock bird_detail %} {% block extras %}
<script type="module" src="{% static 'js/calendar.js' %}"></script>
<script type="module" src="{% static 'js/birdData.js' %}"></script>
<script type="module" src="{% static 'js/graph.js' %}"></script>
<script type="module" src="{% static 'js/motivationGraph.js' %}"></script>
{% endblock %}
