{% block bird_detail %}

<body>
    <!-- index.html content starts here -->
    <div class="container-fluid">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    <h3>Bird Data</h3>

                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <div>
                                        <p>{{ bird_detail.bird_name | safe }}</p>
                                        <p>{{bird_detail.type | safe }}</p>
                                        <p>{{bird_detail.sex | safe }}</p>
                                        <p>{{bird_detail.date_of_birth | safe }}</p>
                                        <p>{{bird_detail.additional_info }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
{% endblock bird_detail %}