{% extends "base.html" %}

{% block bird %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for bird in bird_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Bird: {{ bird.bird_name | safe }}</p>
                                </div>
                            </div>
                            <a href="{% url 'daily_data' bird.bird_name %}" class="post-link">
                                <h2 class="card-title">{{ bird.type | safe }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    </ul>
    </nav>

</div>

<!-- index.html content ends here -->
{% endblock %}